<p id="notice"><%= notice %></p>

<h1>Companies</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Cnpj</th>
      <th>Telefone</th>
      <th>Email</th>
      <th>Endereco</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @companies.each do |company| %>
      <tr id='<%= company.id %>'>
        <td><%= company.nome %></td>
        <td><%= company.cnpj %></td>
        <td><%= company.telefone %></td>
        <td><%= company.email %></td>
        <td><%= company.endereco %></td>
        <td><%= link_to 'Show', company %></td>
        <td><%= link_to 'Edit', edit_company_path(company) %></td>
        <td class="destroy">Delete</td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Company', new_company_path %>
